{% extends 'base.html.twig' %}

{% block body %}
    <div class="participant-details">
        <p class="pseudo">{{ participant.pseudo }}</p>
        <div class="info-container">
            <div class="info">
                <p>Prénom: {{ participant.prenom}}</p>
                <p>Nom: {{ participant.nom }}</p>
                <p>Téléphone: {{ participant.telephone }}</p>
                <p>Email: {{ participant.mail }}</p>
                <p>Campus: {{ participant.campus.nom }}</p>
            </div>
        </div>
    </div>


{% endblock %}
