{% extends 'base.html.twig' %}

{% block title %}
    Mon Profil | {{ parent() }}
{% endblock %}

{% block css %}
            <style>

            .form-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: auto;
            }

            label {
                display: block;
                margin-left: 42%;
            }

            input,
            select
            {
                box-sizing: border-box;
                max-width: 100%;
                width: 300px;
            }

            div{
                padding: 12px;
            }

            .btn{
                margin-top: 1rem;
                margin-left: 42%;
            }


        </style>
    {% endblock %}

{% block body %}

    <div class = "form-container">


        {{ form_errors(FormProfil) }}

        {{ form_start(FormProfil) }}

        <p>Prénom: {{ participant.prenom}}</p>

        {{ form_widget((FormProfil)) }}

        <button type="submit" class="btn">Valider</button>

        {{ form_end(FormProfil) }}
    </div>

{% endblock %}