{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/createSortie.css') }}">
{% endblock %}
{% block body %}
    {{ form_start(sortieForm) }}
    {{ form_row(sortieForm.dateHeureDebut) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_row(sortieForm.dateLimiteInscription) }}
    {{ form_row(sortieForm.nbInscriptionsMax) }}
    {{ form_row(sortieForm.infosSortie) }}
    {{ form_row(sortieForm.etat) }}
    {{ form_row(sortieForm.campus) }}
    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.lieu) }}

    <button>Créer</button>
    {{ form_end(sortieForm) }}

{% endblock %}

