{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/createSortie.css') }}">
{% endblock %}
{% block body %}
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button>Créer</button>
    {{ form_end(sortieForm) }}

{% endblock %}

