<nav>
    <ul>

        {% if app.user %}

            {% if is_granted("ROLE_ADMIN") %}
                <li> <a href="{{ path('admin_villes') }}" title="Gestion des villes">Villes</a> </li>
                <li> <a href="{{ path('admin_campus') }}" title="Gestion des campus">Campus</a> </li>
                <li> <a href="{{ path('app_register') }}" title="Gestion des participants">Gestion des participants</a> </li>
            {% endif %}

            <li> <a href="{{ path('sortir_home') }}" title="Accueil">Accueil</a> </li>
            <li> <a href="{{ path('app_profil') }}" title="Mon profil">Mon profil</a> </li>
            <li> <a href="{{ path('app_logout') }}" title="Logout"> Se déconnecter </a> </li>

        {% endif %}
    </ul>
</nav>